* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #232526;
    background: -webkit-linear-gradient(to right, #000000, #434343);
    background: linear-gradient(to right, #000000, #434343);
    margin: 3%;
    font-family: 'Abel', sans-serif;
    transition: .3s ease all;
}

.card-header {
    color: white;
}

.tittle-container {
    color: white;
}

.products {
    padding: 4rem 0;
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.photo {
    position: relative;
    overflow: hidden;
}

.product-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    transition: all 0.3s linear;
}

#icon {
    width: 5.5%;
}

#footer {
    background-color: transparent;
    color: whitesmoke;
}